.Catalog {
  margin-top: 40px;
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  position: relative;
}

.Book {
  width: 33%;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    height: 100%;
  }
}