@import url('https://fonts.googleapis.com/css?family=Arvo:700|Raleway:400,500|Roboto:300,300i,400,400i,700,700i&display=swap');

$primary: #078C54;
$secondary: #001933;

$primary-accent: #034C2E;
$secondary-accent: #4FC9D5;

$neutral-dark: #020207;
$neutral-medium: #53616F;
$neutral-light: #F5F5F5;
$neutral-light-accent: #FCFCFC;

$font-headers: 'Raleway', Arial, sans-serif; 