@import '../../styles/_variables';

.Navigation {
  background: $primary;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    color: $neutral-light;
    font-size: 18px;
    padding: 25px;
    font-family: $font-headers;
  }

  &__logo {
    img {
      height: 50px;
    }
  }
}

.Logout {
  cursor: pointer;
}