@import '../../styles/_variables';

.BookDetail {
  &__title {
    display: flex;
    justify-content: center;
  }

  &__rating {
    margin: 0 5px;
  }

  &__review {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
  }
}

.ReviewModal {
  h3 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5px;
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid $neutral-medium-accent;
    margin-bottom: 30px;
    margin-left: -20px;
    margin-right: -20px;
  }

  &__overlay {
    position: fixed;
    overflow: hidden;
    top: 0;
    bottom: 0;
    background: rgba(20, 20, 20, 0.15);
    left: 0;
    right: 0;
  }

  &__title {
    margin: 0 20px;
    font-size: 20px;
  }

  &__thumbnail {
    height: 50px;
  }

  &__form {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: $neutral-light-accent;
    width: 50%;
    max-width: 700px;
    border-radius: 3px;
    padding: 20px;
    padding-bottom: 30px;

    &__stars {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
      margin-left: -20px;
      margin-right: -20px;
      padding-bottom: 30px;
      border-bottom: 1px solid $neutral-medium-accent;
    }

    &__comment {
      min-width: 100%;
      max-width: 100%;
      box-sizing: border-box;
      border: 1px solid $neutral-medium-accent;
      margin-bottom: 30px;
      border-radius: 3px;
      padding: 15px;
      font-size: 16px;
      margin-top: 20px;
    }

    &__buttons {
      display: flex;
      justify-content: flex-end;
    }

    &__submit, &__cancel {
      margin: 0 15px;
      background: $neutral-light-accent;
      padding: 10px 20px;
      box-sizing: border-box;
      border-radius: 3px;
      border: 1px solid $neutral-medium-accent;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background: darken($neutral-light-accent, 8);
      }
    }
    
    &__submit {
      background: $primary;
      color: $neutral-light;
      border: 1px solid $primary-accent;
      
      &:hover {
        background: darken($primary, 1.5);
      }
    }
  }
}
