@import '../../styles/__variables';

.Comments {
  // max-width: 700px;
  text-align: left;
  margin: 0 auto;
}

.Comment {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: 1px solid #dbdbdb;
  padding: 20px;
  margin: 20px 0;
  border-radius: 3px;
  background: $neutral-light-accent;

  &__username {
    font-weight: 600;
    font-size: 20px;
  }

  &__rating {
    margin: 10px 0;
  }

  &__comment {
    margin: 10px 0;
    font-size: 18px;
  }
}